
<div class="row mt-5">
						<div class="col">
							<div class="row">
								<div class="col-5">
									<h6 class="text text-success"> Sort Price</h6>
								</div>
								<div class="col-7">
									<select class="form-control" onchange="window.location.href=this.value">
										<option>Select one</option>
										<option value="/sort/desc"> High to low price</option>
										<option value="/sort/asc"> Low to high price</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col">
						<div class="row">
						<div class="col-5">
							<h6 class="text text-success"></h6>
						</div>
						<div class="col-7">
							<div class="form-group">
								<form action="/search" method="post">
									<input class="form-control" type="search" name="name" placeholder="Enter Name Product">
								</form>
							</div>
						</div>
						</div>
         
        			 </div>
			</div>

<div class="row row-cols-1 row-cols-md-5 g-4">
    {{#each product}}
  <div class="col">
    <div class="card h-100">
	<a href="/detail/{{_id}}">
            <img src="{{image}}" width="180" height="180">
         </a>



		
      <div class="card-body">
        <h2 class="card-title ">{{name}}</h2>
        <p class="card-text">Price:{{price}} $</p>
        <input type="number" class="form-control" name="quantity" min="1" max="10" value="1">
        <button type="submit" name="addcart" class="btn btn-primary">Add cart</button>
      </div>

    </div>
  </div>
  {{/each}}
 
 
</div>