<div class="container col-md-8 mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
       

        <img src="{{category.image}}" width="250" height="250" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
      <div class="content-heading"><h3 class="title text-center">The detail category </h3></div>
							<div class="data item content" id="additional" data-role="content">   
                                 <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <tbody>
                                                <tr>
                        <th class="col label" scope="row">Name category</th>
                        <td class="col data" >{{category.name}}</td>
                    </tr>
                    <tr>
                        <th class="col label" scope="row">Describe</th>
                        <td class="col data" data-th="Xuất xứ">{{category.describe}}</td>
                    </tr>
                    
                                                             
                  
                 </tbody>
        </table>
    </div>
</div>
																																																			</div>
				</div>
	</div>
    </div>
  </div>
</div>