

<div class="row mt-5">
						<div class="col">
							<div class="row">
								<div class="col-5">
									<h6 class="text text-center"> Sort Price</h6>
								</div>
								<div class="col-7">
									<select class="form-control" onchange="window.location.href=this.value">
										<option >Select one</option>
										<option value="/boy/sort/desc"> High to low price</option>
										<option value="/boy/sort/asc"> Low to high price</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col">
						<div class="row">
						<div class="col-5">
							<h6 class="text text-center">Search Product</h6>
						</div>
						<div class="col-7">
							<div class="form-group">
								<form action="" method="post">
									<input class="form-control" type="search" name="name" placeholder="Enter Name Product" >
								</form>
							</div>
						</div>
						</div>
         
        			 </div>
					 
			</div>
			

<div class="row row-cols-1 row-cols-md-5 g-4 mt-3">
    {{#each boy}}
  <div class="col">
    <div class="card h-100"
		 style=" background-color:rgb(239, 245, 246)">
	<a href="/boy/detail/{{_id}}">
            <img src="{{image}}" width="259" height="180">
         </a>


		
      <div class="card-body">
        <h5 class="card-title ">{{name}}</h5>
        <p class="card-text">Price:{{price}} $</p>
        <input type="number" class="form-control" name="quantity" min="1" max="10" value="1">
        <button type="submit" name="addcart" class="btn btn-primary">Add cart
			<img src="https://media4.giphy.com/media/jtECu4KjK3cqiAUMyR/200w.gif?cid=82a1493bgc241lip3mrjgyizv2pnxerelp74rm4atua5dzja&rid=200w.gif&ct=g" width="25" height="25" alt="">
		</button>
        <br>
        
      </div>

    </div>
  </div>
  {{/each}} 
   




 
 
</div>