<div class="container col-md-10">
  <form
    class="card p-3 bg-light text-center mt-3 mb-3"
    href="/add"
    method="post"
  >
    <h2 class="text-bg-success">Add new product</h2>
    <div class="form-group">
      <label class="h3 text-secondary">Name Product</label>
      <input type="text" name="name" class="form-control" required placeholder="Enter name product"
    
      /></div>
 <div class="form-group">
      <label class="h3 text-secondary">Where production</label>
      <input type="text" name="made" class="form-control" required  placeholder="Enter where production"/></div>
    <div class="form-group">
    <div class="form-group">
      <label class="h3 text-secondary">Date of manufacture</label>
      <input type="date" name="date" class="form-control" required  placeholder="Enter where production"/></div>
    <div class="form-group">
      <label class="h3 text-secondary">Price of product</label>
      <input type="number" name="price" class="form-control" required placeholder="Enter price of product" /></div>
    <div class="form-group">
      <label class="h3 text-secondary">Image</label>
      <input type="text" name="image" class="form-control" required placeholder="Enter image"/></div>
       <div class="form-group">
      <label class="h3 text-secondary">Image 2</label>
      <input type="text" name="image2" class="form-control" required placeholder="Enter image"/></div>
    
     <div class="form-group">
      <label class="h3 text-secondary">Image 3</label>
      <input type="text" name="image3" class="form-control" required placeholder="Enter image"/></div>
    
    

<div class="form-group">
      <label class="h3 text-secondary">Status</label>
      <input type="number" name="status" class="form-control" required   /></div>

<div class="form-group">
      <label class="h3 text-secondary">Material of product</label>
      <select class="form-select" name="material" >
      <option value="Hard plastic">Hard plastic</option>
      <option value="Soft plastic">Soft plastic</option>
      <option value="Rubber">Rubber</option>
      
     
    <div class="form-group">
      <input type="submit" class="btn btn-primary mt-3" value="Add" /></div>
  </form>
</div>